extends layout

block variables
  - var title = "Dashboard"

block content
  .row
    .offset-sm-2.col-sm-8
      form(method="post")
        .form-group
          label(for="state") State
          input.form-control#title(type="text", name="state", placeholder="State", required)
          button.btn.btn-primary.submit-btn(type="submit") Submit


  .row
    .col-sm-6
      form(method="post")
        .form-group
          label(for='state')
            | State
            span.asteriskField *
          .col-xs-12
            select(name='state')
              option(value='0') -- Select --
              option(value='Alabama') AL 
              option(value='Alaska') AK
              option(value='Arizona') AZ
              option(value='Arkansas') AR
              option(value='California') CA
              option(value='Colorado') CO
              option(value='Connecticut') CT
              option(value='Delaware') DE
              option(value='District of Columbia') DC
              option(value='Florida') FL
              option(value='Georgia') GA
              option(value='Hawaii') HI
              option(value='Idaho') ID
              option(value='Illinois') IL
              option(value='Indiana') IN
              option(value='Iowa') IA
              option(value='Kansas') KS
              option(value='Kentucky') KY
              option(value='Lousiana') LA
              option(value='Maine') ME
              option(value='Maryland') MD
              option(value='Massachusetts') MA
              option(value='Michigan') MI
              option(value='Minnesota') MN
              option(value='Mississippi') MS
              option(value='Missouri') MO
              option(value='Montana') MT
              option(value='Nebraska') NE
              option(value='Nevada') NV
              option(value='New Hampshire') NH
              option(value='New Jersey') NJ
              option(value='New Mexico') NM
              option(value='New York') NY
              option(value='North Carolina') NC
              option(value='North Dakota') ND
              option(value='Ohio') OH
              option(value='Oklahoma') OK
              option(value='Oregon') OR
              option(value='Pennsylvania') PA
              option(value='Rhode Island') RI
              option(value='South Carolina') SC
              option(value='South Dakota') SD
              option(value='Tennesee') TN
              option(value='Texas') TX
              option(value='Utah') UT
              option(value='Vermont') VT
              option(value='Virginia') VA
              option(value='Washington') WA
              option(value='West Virginia') WV
              option(value='Wisconsin') WI
              option(value='Wyoming') WY
            button.btn.btn-primary.submit-btn(type="submit") Submit
  .row
    table(style='width:100%', border='1')
      tr
        th name
        th state
        th agency
        th yearDecertified
        th source
      each entry in entries
        tr
            td 
              a(entry.name, name=entry.name)= entry.name
            td
              a(entry.state, state=entry.state)= entry.state
            td 
              a(entry.agency, name=entry.agency)= entry.agency
            td 
              a(entry.year_decertified, state=entry.year_decertified)= entry.year_decertified
            td 
              a(href=entry.source, source=entry.source)= entry.source

