extends layout

block variables
  - var title = "Dashboard"

block content
  
  .row
    table(style='width:100%', border='1')
      tr
        th name
        th state
        th agency
        th yearDecertified
        th source
      each entry in entries
        tr
            td 
              a(entry.name, name=entry.name)= entry.name
            td
              a(entry.state, state=entry.state)= entry.state
            td 
              a(entry.agency, name=entry.agency)= entry.agency
            td 
              a(entry.year_decertified, state=entry.year_decertified)= entry.year_decertified
            td 
              a(href=entry.source, source=entry.source)= entry.source
            


  .row
    .offset-sm-2.col-sm-8
      h2.your-posts Police Data
      ul.edit
        each entry in entries
          li
            a(href="/" + entry.name, name=entry.name)= entry.name
            a(href="/" + entry.state, state=entry.state)= entry.state
            a(href="/" + entry.agency, name=entry.agency)= entry.agency
            a(href="/" + entry.year_decertified, state=entry.year_decertified)= entry.year_decertified
            

